
header {
    display: flex;
    justify-content: space-evenly;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    background-color: teal; 
    border-radius: 20px;
}

.category-button {
    width: 100px;
    height: 30px;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    margin-top: 25px;
    font-size: medium;
    border-radius: 10px;
}

.amount-container {
    padding-top: 25px;
    padding-left: 200px;
    font-size: large;
    border-color: black;
}

h1 {
    padding-left: 200px;
    color: aliceblue;
}

body {
    background-color: 	#2F4F4F;
}

.main-body {
    background-color: teal;
    width: 100%;
    height: 1000px;
    border-radius: 20px;
    margin-top: 10px;
}