
header {
    display: flex;
    justify-content: space-evenly;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: teal; 
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.category-button {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-top: 25px;
    font-size: large;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    height: 25px;
    width: 90px;
    border-radius: 5px;
}


.amount-container {
    padding-top: 25px;
    padding-left: 200px;
    font-size: large;
    border-color: black;
}

h1 {
    padding-left: 200px;
    color: aliceblue;
}

body {
    background-color: 	#2F4F4F;
}

main {
    padding: 5px;
}

#category-list {
    list-style-type: none;
    padding: 1px ;
}

#main-body {
    background: teal;
    padding: 30px;
    margin: 10px 0;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.category {
    display: flex;
    border: 2px solid #2F4F4F;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
}

.delete-button {
    background: none;
    border: none;
    height: 30px;
    width: 30px;
}

.delete-button:hover {
    background: #1e5c55;
}


.money-amount {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 25px;
}

.right-elements {
    margin-left: 900px;
    width: 1000px;
    display: flex;
    justify-content: end;
}

.edit-button {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 15px;
    width: 100px;
    background-color: aqua;
    border: none;
    border-radius: 20px;
    margin-right: 100px;
}

.edit-button:hover {
    background-color: #1e5c55;
}

.category-name {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 25px;
}

footer {
    display: flex;
    background-color: teal;
    border-radius: 20px;
}

.rest-money {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 40px;
    display: flex;
    padding: 10px;
}

.dollar {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 25px;
    margin-right: 130px;
}

.dollar-footer {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 40px;
    padding: 10px;

}

.add-category {
    display: flex;
    background: teal;
    flex-direction: column;
    justify-content: center;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    padding: 30px;
    align-items: center;
    border-radius: 20px;
    margin: 100px;
}

#text-label {
    width: 200px;
}

.return-button {
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    margin: 10px;
}

.return-button:hover {
    background-color: #1e5c55;
}

.create-button {
    margin: 10px;
    width: 200px;
    height: 40px;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 15px;
    background: #cf8505;
    border: none;
    border-radius: 20px;
}
.create-button:hover {
    background-color: bisque;
}

.add-category-text {
    margin: 10px;
}

.add-category-number {
    margin: 10px;
}




.update-container {
    display: flex;
    justify-content: center; /* Горизонтальне центрування */
    align-items: center; /* Вертикальне центрування */
    background-color: lightblue; /* Для наочності */
    border-radius: 20px;
    height: 200px;
    width: 300px; /* Додано ширину для контролю розмірів */
    margin: auto; /* Забезпечує базове центрування */
    position: absolute; /* Додаємо абсолютне позиціонування */
    top: 50%; /* Центрування по вертикалі */
    left: 50%; /* Центрування по горизонталі */
    transform: translate(-50%, -50%); /* Вирівнювання */
    z-index: 9999; /* Робить елемент поверх усіх інших */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Додає тінь для візуального акценту */
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 15px;
    display: none;
}

.button-box {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.save-update {
    width: 70px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: #9bee8c;
}

.cancel-update {
    width: 70px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: #ee4b4b;
}

.cancel-update:hover {
    background-color: #c44040;
}

.save-update:hover {
    background-color: #66a85a ;
}

.edit-h3 {
    margin-left: 80px;
}

